body {
  background-color: #ffd6e0;
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #ffeef3;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
  margin-bottom: 30px;
}

.buttons {
  position: relative;
  height: 80px;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

#yesBtn {
  background-color: #ff4d6d;
  color: white;
}

#noBtn {
  background-color: #6c757d;
  color: white;
  position: absolute;
}

