body {
  background-color: #ffd6e0;
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#confetti {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.card {
  background: #ffeef3;
  padding: 35px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  z-index: 2;
}

.buttons {
  position: relative;
  height: 120px;
  margin-top: 20px;
}

button {
  padding: 14px 28px;
  font-size: 18px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

#yesBtn {
  background-color: #ff4d6d;
  color: white;
}

#noBtn {
  background-color: #6c757d;
  color: white;
  position: absolute;
  left: 140px;
  transition: transform 0.2s;
}
